body {
  font: 15px "lucida grande",tahoma,verdana,arial,sans-serif;
  background: url(/img/tile.png);
}

.main-page-content a {
  color:white;
  text-shadow:0 1px 0 #137fae;
  border-bottom:1px solid white;
}

.main-page-content a:hover {
  border-bottom-color: #444;
  color:#444;
}

p {
  font-size:15px;
  line-height:24px;
}

.hero-unit {
  background: transparent;
  padding-top: 0;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:0;

}
 
.hero-unit .inner {
  background: url(/img/Market-Banner-Large-Transparent-Background.png) center center no-repeat;
  height: 500px;
}

.hero-unit h1 {
  display: none;
}

h2 {
  margin:1em 0;
  color:white;
  text-shadow:0 1px 0 #137fae;
}

#available-on-the-app-store {
  width: 250px;
  margin-top: 30px;
}

.main-page-content  {
  color:white;
  text-shadow:0 1px 0 #137fae;
}




/** 
 * footer
 */
#copyright {
  line-height: 14px;
  margin:4px 0 0;
  text-align:right;
}

.footer {
  background: #151515;
  padding: 5px 0 5px 0;
  min-height: 40px;
  font-size:12px;
}
.footer .fill {
  display: block;
}
.footer li {
  line-height: 24px;
}
.footer h5 {
  color: #ddd;
}
.footer li, .footer h5 {
  font-size: 13px;
}
.footer a {
  color: gray;
}

.right {
  float: right;
}
@media (max-width: 767px) and (max-width: 979px) {
  .hero-unit {
    padding:0;

  }
  .hero-unit .inner {
    background-size:800px auto;
    background-position:50% 0;
    height:400px;
  }
  h2 {
    padding:0 20px;
  }
  .footer {
    padding-left: 6px;
    padding-right: 6px;
  }
  .right {
    clear: both;
    float: none;
  }
}

nav.small a {
  margin-right: 20px;
  line-height:42px;
}

#phone-image {
  display: block;
  margin:0 auto;
}

#phone-image img{
  display: block;
  margin:0 auto;
}

@media (max-width: 767px) {
  .main-page-content{
    padding:0 20px;
  }
  .footer, #copyright {
    text-align:center;

  }
  nav.small a {
    margin:0 20px;
  }
  #copyright {
    margin:0 auto;
    float:none;
  }
}
/** 
 * Sticky footer 
 */
html, body {
  height: 100%;
  padding:0 !important;
}
.page-wrapper {
  min-height: 100%;
  margin: 0 auto; 
}
#main {
  padding-bottom:50px;
}
.footer {
  position: relative;
  clear: both;
  margin-top:-50px;
}

.page-wrapper {
  position: relative;
}
