<!DOCTYPE html>
<html>
<head>
  <title>Recent - DinoDeals</title>  
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width">
  <style type="text/css">
		html, body, section{
			position: relative;
			top:0;
			left:0;
		}
  </style>
</head>
<body>

<div id="main">
	
</div>

<script id="messageListTemplate" type="text/template">
<% if(messages.length){ %> 
	<section id="scroll" class="deals">
		<div>
			<% _.each(messages, function(message){ %>
				<article>
					<a onclick="Titanium.App.fireEvent('openURL', { url: '<%= message.object.sourceURL %>'});" class="button">Get Deal</a>
					<p><%= message.object.summary %></p>
					<small>Received: <time datetime=<%= message.localtime %>><%= message.displayDate %></time></small>
				</article>

			<% }); %>
		<div>
	</section>
<% } else { %>
	<section id="scroll" class="no-deals">
		<div>
			<p>You haven&rsquo;t picked up any deals yet. When you get near a deal we&rsquo;ll send you a notification.</p> 
			<p style="color:#137fae;"><strong>Try subscribing to more categories by tapping the categories tab.</strong></p>
		</div>
	</section>
<% } %>
</script>

<script src="js/vendor/underscore-min.js.rw"></script>
<script src="js/vendor/jquery-1.7.2.min.js.rw"></script>
<script src="js/vendor/backbone-min.js.rw"></script>
<script src="js/vendor/backbone.localStorage-min.js.rw"></script>
<script src="js/vendor/iscroll.js.rw"></script>
<script src="js/app.js.rw"></script>

</body>
</html>
